<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title>Welcome to {{message}}</title>
    <style>
        table,
        td,
        div,
        h1,
        p {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body style="margin:0;padding:0;word-spacing:normal;background-color:#e2dfee;">
    <div>
        <p>Dear {{contact_person}},</p>
        <p>Welcome to Tagtalk Internet (P) Ltd! Your Google account has been successfully linked, and you are all set to
            explore our platform. We are thrilled to have you on board and look forward to supporting your digital media
            journey.</p>
        <p>Warm regards,<br>Tagtalk Team</p>
    </div>
</body>

</html>